Source: rabbitmq-support-tools
Maintainer: Nicolas Bock <nicolas.bock@canonical.com>
Section: net
Priority: optional
Standards-Version: 1.0.0
Build-Depends: debhelper (>= 9)

Package: rabbitmq-support-tools
Architecture: any
Depends: rabbitmq-server, ${misc:Depends}, ${shlibs:Depends}
Description: Support tools for rabbitmq-server
  .
  This package contains tools that are not yet ready to be included
  into RabbitMQ distribution, cannot be a plugin or cannot ship with
  RabbitMQ for any other reason:
  .
  rebalance-queue-masters: given a RabbitMQ cluster with unevenly
    spread queue masters, this script will rebalance queue masters
    evenly, across all RabbitMQ nodes in the clustergreet usergreet
    usergreet user hithere greets the user, or the world.
